body{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	/*padding-top:40px;*/
}

main{
	border:3px solid black;
	background-color:red;
	width:935px;
	height:700px;
	display:grid;
	grid-template-rows:50px auto;
}

#Menu{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	padding:5px;
	grid-gap:5px;
}

#Menu > input{
	background-color:aqua;
	color:olive;
	font-weight:bold;
	font-size:18px;
	border-radius:10px;
}

#Menu > input:hover{
	background-color:red;
	color:yellow;
}

section{
	border:3px solid red;
	background-color:aliceblue;
	border-radius:30px;
	padding:20px;
	
}

img{
	width:700px;
	height:500px;
}

#Theme{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	padding:3px;
	grid-gap:5px;
}

#Theme > input{
	background-color:aqua;
	color:olive;
	font-weight:bold;
	font-size:18px;
	border-radius:10px;
}

#Theme > input:hover{
	background-color:red;
	color:yellow;
}

